[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-migrate = "*"
email-validator = "*"
flask-bcrypt = "*"
pymysql = "*"
flask-login = "*"
flask-uploads = "*"
flask-msearch = "*"

[dev-packages]

[requires]
python_version = "3.8"
