{% extends "includes/pages_layout.html" %}
{% block content %}
<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main" class="checkout-page">
    <!-- breadcrumb -->
    <div class="bg-gray-13 bg-md-transparent">
        <div class="container">
            {% include "helpers/messages.html" %}
            <!-- breadcrumb -->
            <div class="my-md-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="../home/index.html">Home</a></li>
                        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">Checkout</li>
                    </ol>
                </nav>
            </div>
            <!-- End breadcrumb -->
        </div>
    </div>
    <!-- End breadcrumb -->

    <div class="container">
        <div class="mb-5">
            <h1 class="text-center">Order</h1>
        </div>        
            <div class="row">
                <div class="col-md-12 mb-12">
                    <div class="">
                        <div class="">
                                <div style="display: inline-flex;">
                                    <div class="col-md-12" style="padding-left:0;">
                                        <h3 class="m-b-md m-t-xxs"><b>Company</b></h3>
                                        <address>
                                            Melbourne, Australia<br>
                                            P: (123) 456-7890
                                        </address>
                                    </div>
                                    <div class="col-md-12 text-right" style="position: absolute; margin-left: -55px;">
                                        <h3 class="" style="margin-right: 20px;">Invoice</h3>
                                        
                                        <button type="button" class="btn btn btn-primary-dark-w">
                                            <i class="fa fa-print"></i> Get Invoice
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-left:0;">
                                    <hr>
                                    <p>
                                        <strong>Invoice to</strong><br>
                                        John Doe<br>
                                        795 Folsom Ave, Suite 600<br>
                                        San Francisco, CA 94107
                                    </p>
                                </div>
                                <div class="col-md-12 mb-6 cart-table" style="padding-left:0;padding-right:0;">
                                    <table class="table" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>S/N</th>
                                                <th>Product</th>
                                                <th>Color</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Item One</td>
                                                <td>Lorem ipsum dolor sit amet</td>
                                                <td>23</td>
                                                <td>$3157</td>
                                                <td>$3157</td>
                                                <td>$3157</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mb-12" style="display: inline-flex;">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-left:0;">
                                        <h4>Thank you!</h4>
                                        <p>nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                                        <img src="http://via.placeholder.com/350x150?text=signature" height="150" class="m-t-lg" alt="">
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8" style="position: absolute;">
                                            <div class="text-right" >
                                                <h5>Subtotal</h5>
                                                <span>$7282</span>
                                                <hr>
                                                <h5>Shipping</h5>
                                                <span>$240</span>
                                                <hr>
                                                <h5>Shipping</h5>
                                                <span>$240</span>
                                                <hr>
                                                <h4 class="text-success"><strong>Total</strong></h4>
                                                <span class="text-success">$7522</span>
                                                <hr>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
{% endblock content %}